@model JABlog.Models.Tag
@using JABlog.Enums;
@using JABlog.Services.Interfaces
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@using X.PagedList;

@inject IImageService _ImageService
@inject IBlogPostService _blogPostService

@{
    int pageSize = 3;
    int pageNum = ViewBag.Page;

    IPagedList<BlogPost> pageOfPosts = Model.BlogPosts.Where(b => b.IsPublished == true && b.IsDeleted == false).ToPagedList(pageNum, pageSize);
}

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name Tag</h1>

<!-- Start Author Area  -->
<div class="axil-author-area axil-author-banner bg-color-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="about-author">
                    <div class="media-body">
                        <div class="author-info">
                            <h1 class="title">@Model.Name</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Author Area  -->
<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h2 class="title mb--40">Articles written with @Model.Name Tag</h2>
                </div>
            </div>
            <div class="col-lg-8 col-xl-8">
                @*Foreach BlogPost*@

                @foreach (BlogPost blogPost in pageOfPosts)
                {
                    <partial name="_BlogCardTags" model="@blogPost" />
                }

                <div id="page-selector" class="mt-4">

                    @Html.PagedListPager(pageOfPosts, pageNum => Url.Action("Details", new { id = Model.Id, pageNum = pageNum }),
                    new PagedListRenderOptions{
                    LiElementClasses = new string[] {"my-page-item"},
                    PageClasses = new string[] {"my-page-link"}
                    }
                    )

                </div>

            </div>
            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                <partial name="_Sidebar" />
            </div>
        </div>
        <div>
            <a asp-action="Index" asp-controller="Home">Back to All Posts</a>
        </div>
    </div>
</div>
